.cart-item {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
}
.product-details {
  /* Styling for product details */
  p {
    color: pink;
  }
}
.counter {
  display: flex;
  align-items: center;
  p {
    color: pink;
  }
}

.counter button {
  padding: 5px;
}

.counter span {
  margin: 0 10px;
}
.price-section {
  /* Styling for price section */
  font-size: 16px;
  color: pink;
  margin-top: 10px;
}
.checkout-section {
  border-top: 1px solid #ddd;
  padding-top: 10px;
}

.checkout-section button {
  padding: 10px 20px;
  background-color: #af4c81;
  color: black;
  border: none;
  cursor: pointer;
}
